// main: ../style.scss
/********************************
*********************************
Tabs
*********************************
*********************************/
.nav-tabs {
  @extend %border-bottom-color-theme;
}

.nav-link {
  padding: 0;
  line-height: 3.5rem;
}

.tab-pane {
  padding: 3rem 3rem 2rem 3rem;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

%tabs {
  .nav-item {
    @extend %transition-base;
  }
  .nav-link {
    transition: inherit;
    &:focus {
      outline: none;
    }
  }
}

.tabs-default,
.tabs-shadow,
.tabs-border {
  @extend %tabs;
  .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .nav-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    float: left;
    text-align: center;
  }
}


/* Default Tabs
========================*/
.tabs-default {
  .nav-tabs {
    border-bottom-width: 1px;
  }

  .nav-item {
    margin-bottom: -2px;
  }

  .nav-link {
    padding: 0;
    line-height: 4.6875rem;
    @extend %content-color;
    position: relative;
    z-index: 1;

    &:after {
      transition: inherit;
      content: '';
      display: block;
      @include position(absolute, 0);
      z-index: -1;
      opacity: 0;
      @extend .bg-gradient-2;
    }

    &:hover {
      @extend %border-color-theme;
    }

    &.active {
      color: #fff;
      border-color: transparent;
      &:after {
        opacity: 1;
      }
    }
  }

  .nav-tabs .nav-link:hover {
    border-bottom-color: rgba(0,0,0,0);
  }
}


/* Tabs Border
========================*/
.tabs-border {
  .nav-tabs {
    background: #fff;
    border-width: 1px;
    border-style: solid;
    @extend %border-color-theme;
  }

  .nav-item {
    margin-bottom: 0;
    border-left-width: 1px;
    border-left-style: solid;
    @extend %border-color-theme;

    &:first-child {
      border-left: 0;
    }
  }

  .nav-link {
    border: 0;
    @extend %headings-color;

    &.active {
      @extend %color-primary;
    }
  }

  .tab-content {
    border-width: 1px;
    border-style: solid;
    @extend %border-color-theme;
    border-top: 0;
    background: #fff;
  }
}


/* Tabs Shadow
========================*/
.tabs-shadow{
  border-color: transparent;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.1);

  .nav-link,
  .nav-link.active {
    border: 0;
  }

  .nav-tabs{
    border-bottom: 0;
    line-height: 3.5rem;
  }

  .nav-item {
    margin-bottom: 0;
    border-left: 1px solid white;

    &:first-child {
      border-left: 0;
    }
  }

  .tab-content {
    border-top: 0;
    background: #fff;
  }

  .nav-link {
    border: 0;
    @extend %headings-color, %bg-border-theme-color;

    &.active {
      @extend %color-primary;
      background:#fff;
    }
  }
}


/* Tabs Vertical
========================*/
.tabs-vertical {
  @extend %tabs;
  .nav-tabs, .tab-content {
    display: block;
  }

  .nav-tabs {
    border: 0;
    padding: 0;
  }

  .tab-content {
    border-left-width: 1px;
    border-left-style: solid;
    @extend %border-color-theme;
  }

  .nav-item {
    margin: 0;
  }

  .nav-link {
    border: 0;
    background: transparent;
    position: relative;
    @extend %headings-color;

    &.active::after {
      content: "";
      @include position(absolute, 0 -1px 0 null);
      width: 1px;
      @extend %bg-secondary;
      z-index: 9;
    }

    &:hover,
    &.active {
      background: transparent;
      border: 0;
      @extend %color-primary;
    }
  }

  .tab-pane {
    padding: .5rem 1rem 1rem 1rem;
  }
}
