<div class="widget-holder col-md-12 p-0" id="main-footer">
        <div class="widget-bg text-white">
            <div class="widget-body container-fluid">
                <div class="row">
                    <div class="col-md-10 mx-auto text-center">
                        <figure class="mr-b-40">
                            <a href="/index.html">
                              <img src="/assets/img/KarmicEnergy/Logo-stacked.svg" alt="" class="logo">
                            </a>
                        </figure>
                        <!-- Footer Navigation -->
                        <nav class="nav-container mr-b-20">
                            <ul class="generic-nav">
                                <li class="menu-item current-menu-item"><a href="/index.html">Home</a>
                                </li>
                                <li class="menu-item"><a href="/about-us.html">About Us</a>
                                </li>
                                <li class="menu-item"><a href="/classes.html">F.A.Q.</a>
                                </li>
                                <li class="menu-item"><a href="/contact-us.html">Contact Us</a>
                                </li>
                            </ul>
                            <!-- /.generic-nav -->
                        </nav>
                        <!-- /.nav-container -->
                        <!-- Social Links -->
                        <ul class="social-list social-list-colored-circle">
                            <li><a href="facebook.com" class="bg-facebook"><i class="unicon-facebook"></i></a>
                            </li>
                            <li><a href="instagram.com" class="bg-instagram"><i class="unicon-instagram"></i></a>
                            </li>
                        </ul>
                        <!-- /.social-list -->
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
</div>
<!-- /.widget-holder -->