<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon.png">
    <title>{{ title or metadata.title }}</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Prata:400%7CPoppins:300,300i,400,400i,500,600%7CPT+Serif:400i" rel="stylesheet" type="text/css">
    {% set css %}
      {% include "../assets/css/bootstrap.css" %}
      {% include "../assets/css/pace.css" %}
      {% include "../assets/vendors/feather-icons/style.css" %}
      {% include "../assets/vendors/vibes-icons/style.css" %}
      {% include "../assets/vendors/unifato-icons/style.css" %}
      {% include "../assets/vendors/slick-slider/slick.css" %}
      {% include "../assets/vendors/aos/aos.css" %}
      {% include "../assets/vendors/magnific-popup/magnific-popup.css" %}
      {% include "../assets/css/style.css" %}
      {% include "../assets/css/custom.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>


</head>
